<div class="push">
    <div class="metadata">
        LDAP: {{ ldap }}<br>
        SHA: {{ sha }}
    </div>
    {% for osname in ['windows', 'mac', 'linux'] %}
    {% for ncname in ['broadband', 'umts', 'gsm'] %}
    {% if (g.nc_map[ncname], g.os_map[osname]) in push %}
    <div class="row">
        <span class="osname">{{ osname }}</span>
        <span class="ncname">{{ ncname }}</span>
        <span class="status">{{ push[(g.nc_map[ncname], g.os_map[osname])] }}</span>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
